{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mt-3">Votre profil</h1>
            </div>
        </div>
        <section class="profilImg">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <picture>
                        <img class="rounded-circle" src="{{ asset('Images/profil.png') }}" alt="Photo de votre profil">
                    </picture>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <h2>Vos informations personnelles</h2>
                    <ul class="mt-3">
                        <li>Prénom : {{ app.user.firstname }}</li>
                        <li>Nom : {{ app.user.lastname }}</li>
                        <li>mail : {{ app.user.email }}</li>
                        <li>adresse : {{ app.user.address }}</li>
                    </ul>
                </div>
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <h2>Vos réservation en cours</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Livre</th>
                            <th scope="col">Auteur</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in books %}
                            {% if book.borrower in app.user.username  %}
                        <tr>
                            <td scope="row"></td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
{% endblock %}
