<!DOCTYPE html>
<html lang="fr_FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Médiathèque de la Chapelle Cureaux">
        <meta name="keywords" content="Symfony, bootstrap">
        <meta name="author" content="Gael Mayer">
        <title>{% block title %}Médiathèque CP{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/layout.css') }}"/>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {#{% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}#}
    </head>
    <body>
        <header>
            <div class="container-fluid row d-flex justify-content-between">
                <div class="col-3 text-center mt-4">
                    <a class="navbar-brand" href="/">Médiathèque <br> de la Chapelle-Cureaux</a>
                </div>
                {% if is_granted("ROLE_USER") %}
                <div class="col-4 mt-5">
                    <form class="d-flex">
                        <input class="form-control" type="search" placeholder="Trouver un livres" aria-label="Search">
                        <button class="btn btn-outline-success ml-2" type="submit">Rechercher</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center shadow bg-light">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav justify-content-around">

                                    {% if is_granted("ROLE_USER") %}
                                    <li class="nav-item px-5">
                                        <a class="nav-link active" aria-current="page" href="/borrower">Profil</a>
                                    </li>
                                    {% endif %}
                                    <li class="nav-item px-5">
                                        <a class="nav-link active" aria-current="page" href="/">La médiathèque</a>
                                    </li>
                                    {% if is_granted("ROLE_USER") %}
                                    <li class="nav-item px-5">
                                        <a class="nav-link active" aria-current="page" href="/catalogue">Catalogue</a>
                                    </li>
                                    {% endif %}
                                    <li class="nav-item px-5">
                                        <a class="nav-link" href="#">Infos pratiques</a>
                                    </li>
                                    {% if is_granted("ROLE_USER") %}
                                        <form action="" class="d-flex px-5">
                                            <button class="btn btn-outline-success" type="submit">Déconnexion</button>
                                        </form>
                                    {% else %}
                                        <form action="" class="d-flex px-5">
                                            <button class="btn btn-outline-success" type="submit">Connexion</button>
                                        </form>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        {% block body %}
            <main>
            </main>
        {% endblock %}
    <footer>
        <div class="row bg-success">
            <div class="col-5 m-5">
                INFOS PRATIQUES
            </div>
            <div class="col-5 m-5">
                <form action="" class="d-flex px-5">
                    <button class="btn btn-primary" type="submit">ESPACE PRO</button>
                </form>
            </div>
        </div>
    </footer>
    </body>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</html>
